<.simple_form :let={f} for={@changeset} method="put" action={~p"/items/#{@item}"}>
  <.input field={{f, :text}} type="text" placeholder="what needs to be done?" class="new-todo" />
  <:actions>
    <.button style="display: none;" type="submit">
      Save
    </.button>
  </:actions>
  <!-- submit the form using the Return/Enter key -->
</.simple_form>
